 
body {
  background: white;
  background-image: url(Marble%20Fearless.jpg)
}

p {
  color: deeppink;
}

h1 {
  font-weight: 900;
  font-size: 75px;
  text-align-last: left;
}

h2 {
  font-weight: 900;
  font-size: 50px;
}

a {
  font-weight: 500;
  font-size: 25px;
  font-style:normal;
}


c1 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center
}

c2 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center
}

c3 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

c4 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
  
c5 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

c6 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
  
c7 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
} 

c8 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

c9 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

c10 {
  font-weight: 500;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}


